html{
    scroll-behavior:smooth;
    color: #37393d!important;
}

.w {
    width: 1200px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

em{
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

a {
    color: #37393d !important;
    text-decoration: none !important;
    transition: ease 0.4s;
}

@media (max-width: 770px){
    a{
        text-decoration: underline !important;
    }
}

p {
    margin-bottom: unset !important;
}

label{
    margin-bottom: unset !important;
}

a:hover {
    color: #CC1E42 !important;
    text-decoration: none !important;
}

a:active{
    color: #D6D6D6;
    text-decoration: none !important;
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    border: 0;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif !important;
    scroll-behavior:smooth;
}

.hide,
.none {
    display: none
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}