.about-me{
    display: flex;
    background-color: rgb(218, 201, 166);
    width: 100%;
    /*background-image: url("../images/background/texture.png");*/
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.avatar{
    display: flex;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    /*background-image: url("../images/avatar/yuheng.JPEG");*/
    background-size: cover;
    margin-top: 100px;
}

.name{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    font-family: "ui-serif,Times New Roman, Georgia,Cambria,Times,serif", serif;
    color: #37393d;
}

.segmentation{
    margin-left: 4px;
    margin-right: 4px;
}

.alternative-link{
    display: flex;
    font-family: "ui-serif,Georgia,Cambria,Times New Roman,Times,serif", serif;
    font-size: 18px;
    color: #37393d!important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.coming-soon{
    cursor: default;
}

.description{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    font-size: 18px;
    display: flex;
    margin-top: 25px;
    width: 60%;
    flex-direction: column;
}

@media (max-width: 770px) {
    .description{
        margin-top: 0;
        width: 80%;
        font-size: 16px;
    }
}

.line-feed{
    padding-bottom:20px;
    text-align: justify;
}

.news{
    display: flex;
    background-color: #f9f9f5;
    /*background-image: url("../images/background/texture.png");*/
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.news-wall{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
}

@media (max-width: 770px) {
    .news{
        padding-bottom: 0;
    }

    .news-wall{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 40px;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    }
}

.hon{
    padding-bottom: 10px;
}



.research{
    display: flex;
    background-color: #fcf3e5;
    /*background-image: url("../images/background/texture.png");*/
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.title{
    padding-top: 40px;
    font-size: 36px;
    font-weight: bold;
    font-family: "ui-serif,Georgia,Cambria,Times New Roman,Times,serif", serif;
}

.research-demo{
    position: relative;
    display: flex;
    width: 60%;
    height: 150px;
    margin-bottom: 40px;
    align-items: center;
}

.research-img{
    position: relative;
    width: 35%;
    height: 100%;
}

.research-img>img{
    position: absolute;
    display: block;
    height: 100%;
    right: 0;
}

.research-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60%;
    right: 0;
}

#ruoxi:hover{
    text-decoration: underline!important;
}

@media (max-width: 770px) {
    .research{
        padding-bottom: 0;
    }

    .research-demo{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: unset;
        margin-bottom: 60px;
    }

    .research-img{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .research-img>img{
        position: unset;
        display: block;
        width: 100%;
        height: 100%;
        right: 0;
    }

    .research-info{
        position: unset;
        display: flex;
        flex-direction: column;
        width: 100%;
        right: 0;
        margin-top: 20px;
    }
}

.paper-title{
    font-weight: bold;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    color: #37393d;
}

@media (max-width: 770px) {
    .paper-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.paper-authors{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    font-style: italic;
    color: #37393d;
}

.paper-pub{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    color: #37393d;
}

.paper-links{
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    color: #37393d;
}

.paper-link{
    text-decoration: underline!important;
    transition: ease 0.4s;
}

.paper-link:hover{
    color: #CC1E42!important;
    text-decoration: underline!important;
}

/*.project{*/
/*    display: flex;*/
/*    background-color: #f9f9f5;*/
/*    background-image: url("../images/background/texture.png");*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding-bottom: 40px;*/
/*}*/

/*@media (max-width: 770px){*/
/*    .project{*/
/*        padding-bottom: 0;*/
/*    }*/
/*    .paper-title{*/
/*        text-align: justify;*/
/*    }*/
/*}*/

.experience{
    display: flex;
    background-color: #f9f9f5;
    /*background-image: url("../images/background/texture.png");*/
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.experience-grid{
    display: flex;
    align-items: center;
    width: 60%;
    height: 150px;
    margin-bottom: 40px;
}

@media (max-width: 770px) {
    .experience-grid{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: unset;
        margin-bottom: 60px;
    }
}

.logo{
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.experience-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp-name{
    font-size: 20px!important;
    margin-bottom: 5px!important;
}

.exp{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    color: #37393d;
}

#swjtu{
    height: 100px;
}

#merced{
    height: 120px;
}

#tamu{
    height: 120px;
}

@media (max-width: 770px) {
    .experience{
        padding-bottom: 0;
    }

    .logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .logo>img{
        width: 50%;
    }

    #merced{
        height: 20%;
    }

    #tamu{
        height: 20%;
    }

    #swjtu{
        height: 20%;
        width: 80%
    }
}

.honors{
    display: flex;
    background-color: #fcf3e5;
    /*background-image: url("../images/background/texture.png");*/
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.honors-wall{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
}

@media (max-width: 770px) {
    .honors{
        padding-bottom: 0;
    }

    .honors-wall{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 40px;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    }
}

.hon{
    padding-bottom: 10px;
}

.footer{
    display: flex;
    position: relative;
    background-color: #f9f9f5;
    /*background-image: url("../images/background/texture.png");*/
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recorder{
    position: absolute;
    display: block;
    background-color: #CC1E42;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    right: 40px;
    bottom: 9px;
    cursor: default;
}

@media (max-width: 770px){
    .footer{
        display: flex;
        position: relative;
        background-color: #f9f9f5;
        /*background-image: url("../images/background/texture.png");*/
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .recorder{
        position: absolute;
        display: block;
        background-color: #CC1E42;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        right: 10px;
        bottom: 14px;
        cursor: default;
    }
}

.paper-info{
    position: relative;
    display: flex;
    background-color: white;
    width: 100%;
    /*background-image: url("../images/background/texture.png");*/
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.paper-title-new{
    display: flex;
    font-size: 38px;
    font-weight: bold;
    /*margin-top: 120px;*/
    font-family: "ui-serif,Times New Roman, Georgia,Cambria,Times,serif", serif;
    color: #37393d;
}

.paper-authors-new{
    display: flex;
    font-size: 18px;
    font-family: 'Google Sans', sans-serif;
    color: #37393d;
    margin-top: 30px;
}

.paper-institutions{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: 'Google Sans', sans-serif;
    color: #37393d;
    width: 80%;
    margin-top: 20px;
}

.paper-sub-institute{
    display: flex;
}

.paper-link-group{
    display: flex;
    margin-top: 20px;
}

.paper-sub-link{
    display: flex;
    width: 100px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #CC1E42;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #CC1E42!important;
    margin-right: 10px;
}

.paper-sub-link:hover{
    background-color: #CC1E42;
    color: white!important;
}

.paper-sub-section{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.border-box{
    display:flex;
    justify-content: center;
}

.divider-border{
    background-color: rgba(0,0,0,0.12);
    width: 60%;
}

.paper-contents{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 60px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    text-align:justify;
}

.paper-sub-title{
    width: 50%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
    color: #37393d;
    text-align: left;
    margin-bottom: 30px;
}

.paper-footer{
    display: flex;
    position: relative;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgba(0,0,0,0.12);
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paper-visitors{
    position: absolute;
    right: 20px;
}

.paper-category{
    display: flex;
    width: 160px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 15px;
    align-items: center;
    position: absolute;
    left: 40px;
    top: 40px;
}

.circle-logo{
    display: flex;
    width: 26px;
    height: 26px;
    background-color: #37393d;
    border-radius: 20px;
    position: absolute;
    left: 2px;
    justify-content: center;
    align-items: center;
}

.category-name{
    position: absolute;
    left: 35px;
}

.paper-bibtex{
    background-color: #eaeaea;
    width: 60%;
    padding: 1.6em;
    font-family: "Andale Mono", Courier, "Courier New", monospace;
    font-size:14px;
    line-height: 1.6;
    overflow: auto;
    white-space: pre;
}

.paper-video{
    width: 800px;
    height: 451px;
}

.left-part{
    display: flex;
    width: 50%;
    padding-right: 15px;
    flex-direction: column;
    align-items: center;
}

.right-part{
    width: 50%;
    padding-left: 15px;
}

.two-elements{
    display: flex;
}

.conference-oral{
    border-style: solid;
    border-width: 1px;
    color: #CC1E42 !important;
    font-size: 16px;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 10px;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: rgba(204, 30, 66, 0.05);
}

.conference-oral:hover{
    background-color: #CC1E42;
    color: white!important;
}

@media (max-width: 770px) {
    .paper-title-new{
        font-size: 18px;
        margin-bottom: 10px;
        width: 100%;
    }

    .paper-authors-new{
        display: flex;
        font-size: 16px;
        font-family: 'Google Sans', sans-serif;
        color: #37393d;
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .paper-info{
        position: relative;
        display: flex;
        background-color: white;
        flex-direction: column;
        padding-bottom: 30px;
        width: 90%;
        align-items: flex-start;
        left: 5%;
    }

    .paper-category {
        display: flex;
        width: 160px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        border-radius: 15px;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 27%;
    }

    .paper-institutions{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        font-family: 'Google Sans', sans-serif;
        color: #37393d;
        width: 80%;
        margin-top: 20px;
    }

    .paper-sub-institute{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .paper-link-group{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }

    .paper-sub-link{
        display: flex;
        width: 100px;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #CC1E42;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #CC1E42!important;
        margin-right: 10px;
        margin-bottom: 10px;
        text-decoration: none!important;
    }

    .border-box {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .divider-border {
        background-color: rgba(0,0,0,0.12);
        width: 90%;
    }

    .paper-img-phone{
        width: 90% !important;

    }

    .paper-contents{
        width: 90%;
        margin-top: 20px;
    }

    .paper-sub-title{
        width: 90%;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, system-ui;
        color: #37393d;
        text-align: left;
        margin-bottom: 30px;
    }

    #special-title-01{
        font-size: 20px !important;
        text-align: justify;
    }

    .paper-bibtex{
        background-color: #eaeaea;
        width: 90%;
        padding: 10px;
        font-family: "Andale Mono", Courier, "Courier New", monospace;
        font-size:14px;
        line-height: 1.6;
        overflow: auto;
        white-space: pre;
    }

    .paper-visitors{
        position: absolute;
        right: 39%;
        bottom: 60px;
    }

    .paper-video{
        width: 350px;
        height: 206px;
    }

    .two-elements{
        display: flex;
        flex-direction: column;
    }

    .left-part{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .right-part{
        width: 100%;
    }
}